.header {
    background-color: #333;
    font-size: 12pt;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.headerName {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.activeLink {
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.shimmer {
    color: white;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
    font-weight: bold;
    font-size: 12pt;
}

@keyframes shimmer {
    100% {
        -webkit-mask-position: left
    }
}